/* HEADER */

.nav-padding {
    padding-left: 50px;
    padding-right: 50px;
}
.logo-header img {
    height: 80px;
    width: 80px;
    transition: all 0.3s ease-in-out;
}
.logo-header img:hover {
    content: url("../img/nike_logo_hov.svg");
}
.login-header img {
    height: 35px;
    width: 35px;
    transition: all 0.3s ease-in-out;
}
.login-header img:hover {
    content: url("../img/logo_login_hov.svg");
}