/* GENERAL */
.vis-mov {
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Container */
.container {
    min-height: 42.19em;
}
/* Seccion */
.seccion {
    margin: 6.25em;
}
/* Texto*/
@font-face {
    font-family: "texto";
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "titulo";
    src: url("../fonts/Futura Bold.otf");
}
li {
    font-family: "texto";
    font-size: 1.5em;
}
small {
    font-family: "texto";
}
p {
    font-family: "texto";
    font-size: 1.5em;
}
.banner-text p {
    font-size: 1.8em;
}
h1 {
    font-size: 5em;
    font-family: "titulo";
}
.precio {
    font-size: 3em;
    font-family: "ARIAL";
}
h2 {
    font-family: "texto";
    font-size: 3em;
}
h3 {
    font-family: "texto";
    font-size: 2.5em;
}
h4 {
    font-family: "texto";
    font-size: 2em;
}
.nav-item {
    color: #000000 !important;
    font-size: 1.3em;
}
/*DASHBOARD */
.contraer-img {
    width: 1.2em;
}
#sidebarMenu {
    border-right: 1px solid black;
    border-right-color: rgba(0, 0, 0, 0.3);
}
.logo-x:hover {
    opacity: 0.5;
}
.logo-editar:hover {
    opacity: 0.5;
}

.h-carta {
    height: 400px;
}
/* Estilos para el boton */
.button-primary {
    padding: 0.875em 2em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 50px;
}

.button-primary:hover {
    background-color: #707070;
}

.button-secondary {
    padding: 0.875em 2em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
}

.button-secondary:hover {
    background-color: #d6d6d6;
}
/* flechas */
.logo-flechas {
    height: 4em;
}
.logo-flechas:hover {
    filter: brightness(0.7);
}

/* TITULOS */
.text-titulo {
    margin-bottom: 5em;
}

/* HEADER */

.nav-padding {
    padding-left: 3.125em;
    padding-right: 3.125em;
}
.logo-header img {
    height: 6em;
    width: 6em;
    transition: all 0.3s ease-in-out;
}
.logo-header img:hover {
    content: url("../img/nike_logo_hov.svg");
}
.login-header img {
    height: 2.88em;
    width: 2.88em;
    transition: all 0.3s ease-in-out;
}
.login-header img:hover {
    content: url("../img/logo_login_hov.svg");
}
.logout-header img {
    height: 2.88em;
    width: 2.88em;
    transition: all 0.3s ease-in-out;
}
.logout-header img:hover {
    content: url("../img/logo_logout_hov.svg");
}
/* HOME

.banner-home {
    background-image: url("../img/banner.webp");
    height: 50em;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-repeat: no-repeat;
}
.banner-text {
    padding-top: 9.375em;
    padding-left: 5em;
    width: 40em;
}
.imagen-prueba {
    background-image: url("../img/seccion3.webp");
    height: 37.5em;
    background-size: cover;
    background-repeat: no-repeat;
}
.listaguion li {
    list-style-type: none;
    margin-bottom: 0.625em;
}
.listaguion li:before {
    content: "-";
}*/
/* TARJETAS */
.tarjeta {
    min-height: 20em;
}
.tarjeta-text {
    font-size: 1.5em;
}

/* MOVIL HOME */

/* LOGIN */
.titulo-form {
    font-size: 2em;
}
.login-pag {
    margin-top: 3.125em;
    text-align: center;
    margin-bottom: 3.125em;
}
/* color link*/
a.link-login {
    color: #000000;
}

.img-fluid {
    height: 15em !important;
    object-fit: cover;
}
.img-fluid:hover {
    opacity: 0.7;
}
/* carrusel */
/* color link*/
.link-negro {
    color: #000000;
    text-decoration: none;
}
.link-negro:hover {
    color: #707070;
    text-decoration: none;
}

.pad-carrusel {
    padding: 0.2em !important;
}
/* rutinas */
.pad-rutinas {
    padding: 0.4em !important;
}
/* FOOTER */
.img-footer li {
    opacity: 0.5;
}
.img-footer li:hover {
    opacity: 1;
}
.nav-link {
    opacity: 0.5;
}
.nav-link:hover {
    opacity: 1;
}
.footer-link {
    opacity: 0.5;
}
/** TABLET */
@media (max-width: 1500px) {
}
/** MOVIL */
@media (max-width: 400px) {
    /*texto*/
    li {
        font-size: 1.3em;
    }
    p {
        font-size: 1.5em;
    }
    .banner-text p {
        font-size: 1.8em;
    }
    h1 {
        font-size: 3.3em;
    }
    .precio {
        font-size: 3em;
    }
    h2 {
        font-size: 3em;
    }
    h4 {
        font-size: 2em;
    }
    /*GENERAL*/
    .seccion {
        margin: 0;
        padding-left: 2em;
        padding-right: 2em;
    }
    .text-titulo {
        margin-top: 5em;
    }
    .vis-desck {
        visibility: hidden;
        height: 0em !important;
        width: 0em !important;
    }
    .vis-mov {
        visibility: visible;
        height: auto;
        width: auto;
    }
}
